In [12]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [13]:
outside='G1 G1 G1 G2 G2 G2'.split()

In [14]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [15]:
inside = [1,2,3,1,2,3]

In [16]:
hier_index = list(zip(outside,inside))

In [17]:
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [18]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [19]:
list(zip(outside,inside))

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [24]:
df=pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [26]:
df

             A         B
G1 1  0.624068 -2.234500
   2  1.993093 -0.010211
   3  0.047729 -0.295251
G2 1 -1.711685  0.339091
   2  0.068613 -0.868358
   3 -0.877208 -0.469571

In [27]:
df.loc['G1']

          A         B
1  0.624068 -2.234500
2  1.993093 -0.010211
3  0.047729 -0.295251

In [28]:
df

             A         B
G1 1  0.624068 -2.234500
   2  1.993093 -0.010211
   3  0.047729 -0.295251
G2 1 -1.711685  0.339091
   2  0.068613 -0.868358
   3 -0.877208 -0.469571

In [29]:
df.index.names

FrozenList([None, None])

In [30]:
df.index.names=['groups','num']

In [31]:
df

                   A         B
groups num
G1     1    0.624068 -2.234500
       2    1.993093 -0.010211
       3    0.047729 -0.295251
G2     1   -1.711685  0.339091
       2    0.068613 -0.868358
       3   -0.877208 -0.469571

In [35]:
df.loc['G2'].loc[2]['B']

-0.86835776755307748

In [36]:
df

                   A         B
groups num
G1     1    0.624068 -2.234500
       2    1.993093 -0.010211
       3    0.047729 -0.295251
G2     1   -1.711685  0.339091
       2    0.068613 -0.868358
       3   -0.877208 -0.469571

In [37]:
df.xs(3,level='num')

               A         B
groups
G1      0.047729 -0.295251
G2     -0.877208 -0.469571