In [1]:
import pandas as pd

In [2]:
import numpy as np

In [4]:
label=['a','b','c']

In [5]:
my_data=[10,20,30]

In [6]:
arr=np.array(my_data)

In [7]:
d={'a':10,'b':20,'c':30}

In [8]:
label

['a', 'b', 'c']

In [9]:
my_data

[10, 20, 30]

In [10]:
arr

array([10, 20, 30])

In [12]:
d

{'a': 10, 'b': 20, 'c': 30}

In [13]:
pd.Series(data=my_data)

0    10
1    20
2    30
dtype: int64

In [14]:
pd.Series(data=my_data,index=label)

a    10
b    20
c    30
dtype: int64

In [15]:
pd.Series(my_data,label)

a    10
b    20
c    30
dtype: int64

In [16]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int64

In [17]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [20]:
ser1=pd.Series([1,2,3,4],['us','germany','ussr','japan'])

In [21]:
ser1

us         1
germany    2
ussr       3
japan      4
dtype: int64

In [22]:
ser2=pd.Series([1,2,5,4],['us','germany','italy','japan'])

In [23]:
ser2

us         1
germany    2
italy      5
japan      4
dtype: int64

In [24]:
ser1+ser2

germany    4.0
italy      NaN
japan      8.0
us         2.0
ussr       NaN
dtype: float64

In [25]:
ser2+ser1

germany    4.0
italy      NaN
japan      8.0
us         2.0
ussr       NaN
dtype: float64