In [1]:
#revision 1

In [2]:
var = 4 #integer

In [3]:
string ='hello' #string

In [6]:
l=[1,2,2,3,4,5,6] #list

In [8]:
t =(1,2,3,4,5,667) #tuple

In [9]:
d= {'key1':1,'key2':2} #dictionary

In [11]:
s ={1,2,3,4,4,'a','A'} #set

In [13]:
for item in l:
    print item

1
2
2
3
4
5
6

In [17]:
for item in range(4):
    print item

0
1
2
3

In [18]:
range(0,100,2**2)

[0,
 4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 40,
 44,
 48,
 52,
 56,
 60,
 64,
 68,
 72,
 76,
 80,
 84,
 88,
 92,
 96]

In [19]:
#map(a,b) a is function b is sequance

In [20]:
#lamda input:output

In [21]:
#filter(a,b) a is function evaluate to boolean,b is sequance

In [27]:
def sqare(n):
    return(n*n)

In [29]:
sqare(43)

1849

In [30]:
#equelivant  lamda function is

In [31]:
lam = lambda x:x*x

In [33]:
map(lambda x:x*x,l)

[1, 4, 4, 9, 16, 25, 36]

In [34]:
filter(lambda x:x%2!=0,l)

[1, 3, 5]

In [35]:
#list comprehension

In [47]:
out=[]
for i in range(9):
    out.append(i*i*i)

In [48]:
out

[0, 1, 8, 27, 64, 125, 216, 343, 512]

In [52]:
out1= [i*i*i for i in range(9)]

In [53]:
out1

[0, 1, 8, 27, 64, 125, 216, 343, 512]

In [54]:
#list of tuples like (1,2) this comes as database record

In [56]:
tup=[(1,2),(3,4),(5,6),('a','b')]

In [57]:
tup

[(1, 2), (3, 4), (5, 6), ('a', 'b')]

In [58]:
for a,b in tup:
    print a+b

3
7
11
ab

In [63]:
tup[1][1]

6

In [64]:
tup.reverse()

In [65]:
tup

[(1, 2), (3, 4), (5, 6), ('a', 'b')]

In [66]:
#i think i can go furture

In [ ]:
#lets complete!!!!happy