In [1]:
#map lamda

In [3]:
def times2(num):
    return num*2

In [4]:
times2(3)

6

In [5]:
#map()

In [6]:
seq=[1,2,3,4,5]

In [7]:
map(times2,seq)

[2, 4, 6, 8, 10]

In [8]:
#lamda fucton also known as anomunas function

In [11]:
t= lambda i:i*2

In [12]:
t(3)

6

In [13]:
map(t,seq)

[2, 4, 6, 8, 10]

In [16]:
map(lambda x:x**x,seq)

[1, 4, 27, 256, 3125]

In [20]:
out=[map(lambda x:x*x,seq)]

In [21]:
out

[[1, 4, 9, 16, 25]]

In [22]:
seq2=['name','man']

In [23]:
s= lambda name:name+name

In [24]:
s('nam')

'namnam'

In [25]:
map(s,seq2)

['namename', 'manman']

In [26]:
#map() takes functon and sequance

In [27]:
#lamda is a small function to genrate function replica, to avoid writeing small functiom

In [34]:
r=lambda x:x**7

In [35]:
r=r(r(45))

In [36]:
r

1017215982028280784743995803560189160883665715733314982571755535900592803955078125L

In [37]:
#filter() is return boolean value in sequence

In [40]:
filter(lambda x:x%2!=0,seq)

[1, 3, 5]

In [41]:
#method for point

In [42]:
s ='my name is Max'

In [43]:
s

'my name is max'

In [44]:
s.capitalize()

'My name is max'

In [47]:
s.split()

['my', 'name', 'is', 'max']

In [48]:
tweet='hi folks! #Sports'

In [49]:
tweet.split()

['hi', 'folks!', '#Sports']

In [51]:
tweet.split('#')

['hi folks! ', 'Sports']

In [52]:
d={'k1':1,'k2':2}

In [53]:
d

{'k1': 1, 'k2': 2}

In [54]:
d.keys()

['k2', 'k1']

In [56]:
d.values()

[2, 1]

In [57]:
d.items()

[('k2', 2), ('k1', 1)]

In [58]:
x=[(1,2),(3,4),(5,6)]

In [59]:
x[1]

(3, 4)

In [60]:
for item in x:
    print item

(1, 2)
(3, 4)
(5, 6)

In [63]:
for (a,b)in x:
    print b,a

2 1
4 3
6 5